body{
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
header{
    position: relative;
    padding-left: 70px;
}
.topbtn{
    width: 300px;
    padding: 10px;
    position: absolute;
    top: 6px;
    right: 0px;
}
.topbtn a{
    text-decoration: none;
    color: rgb(22, 126, 82);
    font-weight: bolder;
    margin-left: 10px;
    padding: 10px;
}
.topbtn a:hover{
    color: #3F3D56;
}
.topbtn a.active{
    background-color: #76E5BD;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px grey;
}
.topbtn a.active:hover{
    background-color: rgb(22, 126, 82);
}
/*--------FORM CONTAINER STYLING-------*/
.heading{
    padding-left: 70px;
    margin-top: 70px;
}
.form-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 550px;
    padding-left: 70px;
    position: relative;
}

.overlap{
    position: absolute;
    top: 60px;
    width: 800px;
    height: auto;
}

.form-wrap .input{
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    height: 45px;
    width: 45%;
    font-size: 1rem;
    box-shadow: 0 2px 2px gray;
}
.gap{
    margin-left: 25px;
}
.label{
    margin-top: 40px;
    margin-bottom: 10px;
}
label{
    font-size: .8rem;
    color: gray;
}
label a{
    color: #76E5BD;
    text-decoration: none;
}
label a:hover{
    text-decoration: underline;
    color: #3F3D56;
}

.signup-img img{
    display: block;
}
.signup-btn{
    background-color: #76E5BD;
    color: white;
    border: none;
    border-radius: 5px;
    width: 40%;
    height: 40px;
    font-weight: bold;
    font-size: 1rem;
    box-shadow: 2px 2px 5px grey;
    margin-top: 50px;
}
.signup-btn:hover{
    background-color: rgb(22, 126, 82);
}
.team{
    color: black;
    background-color: #76E5BD;
    text-align: center;
}

@media (min-width:900px) and (max-width:1100px){
    .form-wrap{
        z-index: 0;
    }
    .signup-img{
        z-index: -1;
    }
}
@media (min-width:787px) and (max-width:900px){
    /*body{
        background-image: url(../images/undraw_selection_92i4\(1\).png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; 
    }*/
    /*.form-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 800px 800px;
        position: relative;
    }*/
    .form-container{
        height: 800px;
        width: 78%;
        background-image: url(https://res.cloudinary.com/dkyb7lx0u/image/upload/v1569643178/undraw_selection_92i4_1_lpzw5s.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; 
    }
    .topbtn a{
        margin-left: 5px;
        padding: 5px;
    }
    .topbtn{
        width: 200px;
    }
    .gap{
        margin-left: 0;
    }
    .signup-img{
        display: none;
    }
    .overlap{
        width: 100%;
        margin: 0px auto;
    }
    .form-wrap{
        width: 80%;
        z-index: 0;
        margin: 20px auto;
    }
    .form-wrap .input{
        width: 50%;
    }
    
}
@media (min-width:486px) and (max-width:787px){
    .topbtn{
        width: 150px;
    }
    .topbtn a{
        margin-left: 5px;
        padding: 5px;
    }
    a .top{
        padding: 0;
    }
    .form-container{
        height: 750px;
        width: 65%;
        background-image: url(https://res.cloudinary.com/dkyb7lx0u/image/upload/v1569643178/undraw_selection_92i4_1_lpzw5s.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; 
    }
    .gap{
        margin-left: 0;
    }
    .overlap{
        width: 80%;
        margin: 0px auto;
    }
    .form-wrap{
        width: 80%;
        z-index: 0;
        margin: 20px auto;
    }
    .form-wrap .input{
        width: 80%;
    }
    .signup-img{
        display: none;
    }
    .signup-btn{
        width: 80%;
    }
}
@media (min-width:300px) and (max-width:486px){

    header{
        margin: 10px auto;
    }
    .topbtn{
        width: 150px;
    }
    .topbtn a{
        margin-left: 5px;
        padding: 5px;
    }
    a .top{
        padding: 0;
    }
    .heading{
       margin: 70px auto 0px;
    }
    .form-container{
        height: 750px;
        width: 65%;
        margin: 0 auto;
    }
    .gap{
        margin-left: 0;
    }

    .gap{
        margin-left: 0;
    }
    .overlap{
        width: 80%;
        margin: 0px auto;
    }
    .form-wrap{
        width: 75%;
        z-index: 0;
        margin: 20px auto;
    }
    .form-wrap .input{
        width: 95%;
    }
    .signup-btn{
        width: 95%;
    }
    .signup-img{
        display: none;
    }
}