<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Athena Goal Tracker</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
	<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
	<script src="js/vue.js"></script>
    <script src="js/axios.min.js"></script>
    
    <style>
        .card .card-body {
            padding: 10px 10px;
        }
        .add-items {
            margin-bottom: 0rem;
            overflow: hidden;
        }
        .form-group {
            margin-bottom: 0rem;
        }
        .nav-link{
            font-weight: bold;
        }
        .navbar-brand{
            font-weight: bold;
            color: #FFF !important;
        }
        .navbar{
            position: fixed;
            z-index: 100;
        }
        .card-statistics h1{
            color: #6AB21C !important;
        }

        @media screen and (min-width: 1000px){
            .page-body-wrapper{
                position: relative;
                top: 50px;
            }
        }
        [v-cloak]{
            display: none;
        }

    </style>
</head>

<body>

    <div class="container-scroller" id="app">
        <!-- Top Nav start -->
        <div class="navbar horizontal-layout col-lg-12 col-12 p-0">
            <div class="nav-top flex-grow-1">
                <div class="container d-flex flex-row h-100 align-items-center">
                    <div class="text-center navbar-brand-wrapper d-flex align-items-center">
                        <a class="navbar-brand brand-logo" href="#">Athena</a>
                        <a class="navbar-brand brand-logo-mini" href="#">Athena</a>
                    </div>
                    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-between flex-grow-1">
                        <form class="search-field d-none d-md-flex" action="#">
                            <div class="form-group mb-0">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon-magnifier"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Search goal here...">
                                </div>
                            </div>
                        </form>

                        <ul class="navbar-nav navbar-nav-right mr-0 ml-auto">
                            <li class="nav-item nav-profile dropdown">
                                <a class="nav-link " href="#" @click.prevent="logout">
                                    <i class="icon-logout text-primary mr-2"></i> Logout
                                </a>
                                <a class="navbar-brand feed" href="https://teamglow.000webhostapp.com/feedback.php">Provide Feedbacks</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Nav ends -->
    
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <div class="main-panel">
                <div class="content-wrapper">
                    
                    <!-- Statistics starts -->
                    <div class="row">
                        <div class="col-12 grid-margin">
                            <div class="card card-statistics">
                                <div class="card-body p-0">
                                    <div class="row">
                                        <div class="col-6 col-md-3 col-lg-3">
                                            <div class="d-flex justify-content-between border-right card-statistics-item">
                                                <div>
                                                    <h1>{{statistics.totalGoals}}</h1>
                                                    <p class="text-muted mb-0">Total Goals</p>
                                                </div>
                                                <i class="icon-layers text-primary icon-lg"></i>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-3 col-lg-3">
                                            <div class="d-flex justify-content-between border-right card-statistics-item">
                                                <div>
                                                    <h1>{{statistics.totalTodos}}</h1>
                                                    <p class="text-muted mb-0">Total Todos</p>
                                                </div>
                                                <i class="icon-people text-primary icon-lg"></i>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-3 col-lg-3">
                                            <div class="d-flex justify-content-between border-right card-statistics-item">
                                                <div>
                                                    <h1>{{statistics.pendingTodos}}</h1>
                                                    <p class="text-muted mb-0">Pending Todos</p>
                                                </div>
                                                <i class="icon-pin text-primary icon-lg"></i>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-3 col-lg-3">
                                            <div class="d-flex justify-content-between card-statistics-item">
                                                <div>
                                                    <h1>{{statistics.completedTodos}}</h1>
                                                    <p class="text-muted mb-0">Completed Todos</p>
                                                </div>
                                                <i class="icon-refresh text-primary icon-lg"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Statistics ends -->


                    
                    <div class="row" v-cloak>
                        <!-- Add Goal Starts -->
                        <div class="col-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <form class="" @submit.prevent="addGoal">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" required v-model="newGoal" class="form-control" placeholder="Add a new goal here.." aria-label="Recipient's username">
                                                <div class="input-group-append">
                                                    <button class="btn btn-sm btn-success" type="submit">
                                                            <i class="fa fa-plus"></i> Add Goal
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- Add Goal Ends -->


                        <!-- List goals start -->
                        <div class="col-lg-4 grid-margin"  v-for="(goal, id) in goals" :key="id">
                            <div class="card px-3">
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <div class="progress progress-lg">
                                            <div :class="['progress-bar', color(goal.percentageComplete)]" role="progressbar" :style="`width: ${goal.percentageComplete}%`">
                                                {{goal.percentageComplete}}% ({{goal.completeTodo}}/{{goal.totalTodo}}) completed
                                            </div>
                                        </div><br>
                                        {{goal.goal}}
                                    </h4>
                                    <!-- <div class="progress progress-lg progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60% completed</div> -->
                                    
                                    <form class="" @submit.prevent="addTodo(id)">
                                        <div class="add-items d-flex">
                                            <input type="text" required class="form-control todo-list-input" v-model="goal.newTodo" placeholder="Add a todo item">
                                            <!-- <button class="add btn btn-primary font-weight-bold todo-list-add-btn" id="add-task">Add</button> -->
                                            <button type="submit" class="btn btn-success btn-sm icon-btn ml-2 mb-2">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                            <button type="submit" class="btn btn-warning btn-sm icon-btn ml-2 mb-2">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </form>

                                    <!-- List todo starts -->
                                    <div class="list-wrapper">
                                        <ul class="d-flex flex-column-reverse todo-list">
                                            <li  v-for="(todo, todoId) in goal.todo" :key="todoId">
                                                <!-- <div class="form-check"> -->
                                                <div class="">
                                                    <!-- <label class="form-check-label"> -->
                                                    <label class="">
                                                        <input v-model="todo.completed" @change="completeTodo(id, todoId, $event)" class="" type="checkbox"> {{todo.todo}}
                                                        <!-- <i class="input-helper"></i> -->
                                                    </label>
                                                </div>
                                                <a href="#" class="remove " @click.prevent="deleteTodo(id, todoId)"><i class="fa fa-close" ></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- List todo ends -->
                                </div>
                            </div>
                        </div>
                        <!-- List goals ends -->
                                                    
                    </div>                       

                </div>
                <!-- content-wrapper ends -->

                
                <!-- Footer starts -->
                <footer class="footer">
                    <div class="w-100 clearfix">
                        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block"><a href="#" target="_blank">Athena Goal Tracker</a>. All rights reserved.</span>
                    </div>
                </footer>
                <!-- Footer ends -->

            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>


    <script>
        const app = new Vue({
            el: '#app',
            data: { 
                //backend: 'http://127.0.0.1:8003/api',  
                dashboard: './index.html',
                backend: 'http://athena-goal-tracker.elitelovers.org/backend/public/api',  
                // dashboard: 'http://127.0.0.1:8080/todo',
                loading: false,
                success: null,
                errors: null,
                authenticated: false,

                newGoal: '',
                newTodo: '',
                goals:[],

                statistics: {
                    totalGoals: 0,
                    totalTodos: 0,
                    pendingTodos: 0,
                    completedTodos: 0
                }
            },
            watch: {
                goals: {
                    handler(val){
                        this.updatePercentages();
                    },
                    deep: true
                }
            },
            
            methods: {
                getGoalswithTodos(){
                    // axios.get(this.backend+'/goals')
                    
                    let token = localStorage.getItem('hng_token');
                    axios({
                        method: 'GET',
                        url: this.backend+'/goals',
                        headers: {'Authorization': 'Bearer '+ token}
                    })
                    .then(response=> { this.goals = response.data.data;})
                    .catch(error => console.log(error));
                    
                    // axios.get(this.backend+'/statistics')
                    
                    axios({
                        method: 'GET',
                        url: this.backend+'/statistics',
                        headers: {'Authorization': 'Bearer '+ token}
                    })
                    .then(response=> { 
                        this.statistics = {...response.data.data}; 
                    })
                    .catch(error => console.log(error));
                },
                addGoal(){
                    let newGoal = {
                            id: this.goals.length+1, goal: this.newGoal, todo:[], 
                            percentagePending: 0, newTodo: '', percentageComplete: 0,
                            totalTodo: 0, pendingTodo:0, completeTodo: 0
                        }
                    // axios.post(this.backend+'/goal/add', newGoal)
                    
                    let token = localStorage.getItem('hng_token');
                    axios({
                        method: 'POST',
                        url: this.backend+'/goal/add',
                        headers: {'Authorization': 'Bearer '+ token},
                        data: newGoal
                    })
                    .then(response=>{
                        this.getGoalswithTodos()
                        this.newGoal = '';
                    })
                    .catch(error=> console.log(error));
                        
                    // this.goals.push(newGoal);
                },

                addTodo(goalId){
                    let goal = this.goals[goalId];
                    let newTodo = {goal_id: goal.id, id: goal.todo.length+1, todo: goal.newTodo, completed: false};
                    
                    // axios.post(this.backend+'/todo/add', newTodo)
                    
                    let token = localStorage.getItem('hng_token');
                    axios({
                        method: 'POST',
                        url: this.backend+'/todo/add',
                        headers: {'Authorization': 'Bearer '+ token},
                        data: newTodo
                    })
                    .then(response=>{this.getGoalswithTodos()})
                    .catch(error=> console.log(error));

                    // this.goals[goal].todo.push(newTodo);
                    // this.goals[goalId].newTodo = '';
                },

                deleteGoal(goalId){
                    let goal = this.goals[goalId];
                    
                    // axios.post(this.backend+'/goal/remove', {goal_id: goal.id})
                    
                    let token = localStorage.getItem('hng_token');
                    axios({
                        method: 'POST',
                        url: this.backend+'api/logout',
                        headers: {'Authorization': 'Bearer '+ token},
                        data: {goal_id: goal.id}
                    })
                    .then(response=>{this.getGoalswithTodos()})
                    .catch(error=> console.log(error));
                    // this.goals[goal].splice(goal, 1);
                    // this.sendToBackend();
                },
                deleteTodo(goalId, todoId){
                    let todo = this.goals[goalId].todo[todoId];
                    let token = localStorage.getItem('hng_token');
                    axios.post(this.backend+'/todo/remove', {todo_id: todo.id}, {headers: {'Authorization': 'Bearer '+ token}})
                        .then(response=>{this.getGoalswithTodos()})
                        .catch(error=> console.log(error));
                    // this.goals[goal].todos.splice(todo, 1);
                    // this.sendToBackend();
                },
                completeTodo(goalId, todoId, event){
                    let token = localStorage.getItem('hng_token');
                    let todo = this.goals[goalId].todo[todoId];
                    axios.post(this.backend+'/todo/done', {todo_id: todo.id, is_done:event.target.checked}, {headers: {'Authorization': 'Bearer '+ token}})
                        .then(response=>{this.getGoalswithTodos()})
                        .catch(error=> console.log(error));
                    // this.goals[goal].todos.completed = !this.goals[goal].todos.completed;
                    // this.sendToBackend();
                },
                updatePercentages(){
                    this.goals.forEach(
                        (goal)=>{
                            if(goal.todo.length !== undefined){
                                let totalTodo = goal.todo.length;
                                let pending =   goal.todo.filter((todo)=> todo.completed == 0 ).length;
                                let completed = goal.todo.filter((todo)=> todo.completed == 1).length;
                                goal.pendingTodo = pending;
                                goal.totalTodo = totalTodo;
                                goal.completeTodo = completed;
                                goal.percentageComplete = this.round((completed/totalTodo) * 100);
                                goal.percentagePending = this.round((pending/totalTodo) * 100);
                            }
                        }
                    );
                    // console.log(this.goals);
                },
                round(number, decimalPlace=2){
                    let num = parseFloat(number);
                    let rounded = Number(Math.round(num+'e'+decimalPlace)+'e-'+decimalPlace);
                    return isNaN(rounded) ? 0 : rounded;
                }, 
                color(percent){
                    return  percent >= 90 ? 'bg-success'
                            : percent >= 70 ? 'bg-info'
                            : percent >= 50 ? 'bg-primary'
                            : percent >= 30 ? 'bg-warning'
                            : percent < 30 ? 'bg-danger'
                            : '';
                },
                
                logout(){
                    let token = localStorage.getItem('hng_token');
                    axios({
                        method: 'POST',
                        url: this.backend+'api/logout',
                        headers: {'Authorization': 'Bearer '+ token}
                    })
                    .then(response=>{
                        this.authenticated = false;
                        alert('You have successfully logged out!');
                    })
                    .catch(error=>{
                        console.log(error)
                        // ...
                    })
                    localStorage.removeItem('hng_token');
                    localStorage.removeItem('hng_expiration');
                    
                    window.location.href = './index.html';
                    // this.$router.push('/login')
                },                                              
                
                isAuth(){
                    let token = localStorage.getItem('hng_token');
                    let expiration = localStorage.getItem('hng_expiration');

                    if(! token || ! expiration) // check if token exists now or return null
                    {
                        this.logout();
                        return null;
                    }
                    else
                    {
                    if(Date.now() > parseInt(expiration)) // check if existing token has expired and return null if true or return true if otherwise
                    {
                        this.logout();
                        return null;
                    }
                    else
                    {
                        this.getGoalswithTodos();
                    }
                    }
                },
            },

            created(){
                this.isAuth();
                // this.getGoalswithTodos();
            },

            mounted () {
                
            }
        })
    </script>
    <!-- Live chat -->
<script type="text/javascript">
    window.__lc = window.__lc || {};
    window.__lc.license = 11357752;
    (function() {
      var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
      lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
    })();
  </script>
  <noscript>
  <a href="https://www.livechatinc.com/chat-with/11357752/" rel="nofollow">Chat with us</a>,
  powered by <a href="https://www.livechatinc.com/?welcome" rel="noopener nofollow" target="_blank">LiveChat</a>
  </noscript>

  
  </body>
  <html>