<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Athena Goal Tracker</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
	<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="js/vue.js"></script>
    <!-- <script src="js/axios.min.js"></script> -->
</head>

<body>

    <div class="container-scroller" id="app">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
                <div class="row w-100 mx-auto">
                    <div class="col-lg-4 mx-auto">
                        <div class="auto-form-wrapper">
                            <form @submit.prevent="login">
                                <div class="form-group">
                                    <label class="label">Username</label>
                                    <div class="input-group">
                                        <input type="text" v-model="form.username" class="form-control" placeholder="Username">
                                        <!-- <div class="input-group-append">
                                            <span class="input-group-text"><i class="icon-check"></i></span>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="label">Password</label>
                                    <div class="input-group">
                                        <input type="password" v-model="form.password" class="form-control" placeholder="*********">
                                        <!-- <div class="input-group-append">
                                            <span class="input-group-text"><i class="icon-check"></i></span>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary submit-btn btn-block">Login</button>
                                </div>
                                <div class="form-group d-flex justify-content-between">
                                    <div class="form-check form-check-flat mt-0">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" checked=""> Keep me signed in
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                                    <a href="#" class="text-small forgot-password">Forgot Password</a>
                                </div>
        
                                <div class="text-block text-center my-3">
                                    <span class="text-small font-weight-semibold">Not a member ?</span>
                                    <a href="register.html" class="text-small">Create new account</a>
                                </div>
                            </form>
                        </div>
                        <ul class="auth-footer">
                            <li><a href="#">Conditions</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Terms</a></li>
                        </ul>
                        <p class="footer-text text-center">Athena Goal Tracker</p>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>


    <script>
        const app = new Vue({
            el: '#app',
            data: { 
                backend: 'http://127.0.0.1:8003/api',  
                dashboard: 'http://127.0.0.1:8080',
                loading: false,
                success: null,
                errors: null,
                authenticated: false,

                form:{
                    username: '',
                    password:'',
                }
            },

            methods: {
                login(){
                    this.loading = true;
                    this.error = null;
                    document.getElementById('login-btn').disabled =true;
                    document.getElementById('login-btn').style = 'opacity: 0.5';
                    this.$store.dispatch('doLogin', {username: this.form.username, password:this.form.password})
                    .then(response=>{
                        this.loading = false;
                        this.success = 'Login Successful'
                        document.getElementById('login-btn').disabled =false;
                        document.getElementById('login-btn').style = 'opacity: 1';
                    })
                    .catch(error=>{
                        this.loading = false;
                        document.getElementById('login-btn').disabled =false;
                        document.getElementById('login-btn').style = 'opacity: 1';
                        this.error = error.message;
                    })
                }
            },

            created(){
                
            },

            mounted () {
                
            }
        })
    </script>
  </body>
  <html>