<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Athena Goal Tracker</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
	<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
	<script src="js/vue.js"></script>
    <script src="js/axios.min.js"></script>
    <style>
        [v-cloak] > * { display:none; }
        [v-cloak]::before { content: "loading..."; }
    </style>
</head>

<body>

    <div class="container-scroller" id="app">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
                <div class="row w-100 mx-auto">
                    <div class="col-lg-4 mx-auto">
                        <h2 class="text-center mb-4">Athena Goal Tracker</h2>

                        <div class="auto-form-wrapper" v-cloak>
                            <h3 class="text-center mb-4">Login</h3>
                            
                            <div v-if="errors !== null && errors !== undefined" class="alert alert-fill-danger" role="alert"> {{errors}} </div>
                            <div v-if="success !== null && success !== undefined" class="alert alert-fill-success" role="alert" v-if="error !== ''"> {{success}} </div>

                            <form @submit.prevent="login">
                                <div class="form-group">
                                    <label class="label">Username / Email</label>
                                    <div class="input-group">
                                        <input type="text" required v-model="form.username" class="form-control" placeholder="Username/Email">
                                        <!-- <div class="input-group-append">
                                            <span class="input-group-text"><i class="icon-check"></i></span>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="label">Password</label>
                                    <div class="input-group">
                                        <input type="password" required v-model="form.password" class="form-control" placeholder="*********">
                                        <!-- <div class="input-group-append">
                                            <span class="input-group-text"><i class="icon-check"></i></span>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" id="login-btn" class="btn btn-primary submit-btn btn-block">{{loading ? 'Please wait..' : 'Login'}}</button>
                                </div>
                                <div class="form-group d-flex justify-content-between">
                                    <!--div class="form-check form-check-flat mt-0">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" checked=""> Keep me signed in
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                                    <a href="#" class="text-small forgot-password">Forgot Password</a-->
                                </div>
        
                                <div class="text-block text-center my-3">
                                    <span class="text-small font-weight-semibold">Not a member ?</span>
                                    <a href="register.html" class="text-small">Create new account</a>
                                </div>
								<form action="../backend/google-login.php" method="post">
								<div class="form-group">
							
                                   <button type="submit" id="register-btn" class="btn btn-primary submit-btn btn-block">Login With Google Account</button>
                                </div>
							</form>
                            </form>
							
                        </div>
                        <ul class="auth-footer">
                            <li><a href="#">Conditions</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Terms</a></li>
                        </ul>
                        <p class="footer-text text-center">Athena Goal Tracker</p>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>


    <script>
        const app = new Vue({
            el: '#app',
            data: { 
                backend: 'http://127.0.0.1:8003/',  
                // backend: 'http://athena-goal-tracker.elitelovers.org/backend/public/',  
                dashboard: './index.html',
                loading: false,
                success: null,
                errors: null,
                authenticated: false,

                form:{
                    username: '',
                    password:'',
                    client_secret: 'sPLysUnbbdVuxgVLaKQtVcU2hpZaIha1hRC2P67u',
                    client_id: 2,
                    grant_type: 'password'
                }
            },

            methods: {
                login(){
                    this.loading = true;
                    document.getElementById('login-btn').disabled = true;
                    
                    //SUBMIT FORM
                    axios.post(this.backend+'oauth/token', this.form)
                    .then(response=>{
                        this.loading = false;
                        localStorage.setItem('hng_token', response.data.access_token)
                        localStorage.setItem('hng_expiration', response.data.expires_in + Date.now())
                        this.authenticated = true;
                        this.success = 'Login Successful'
                        this.errors = null;
                        // this.$router.push('/login')
                        document.getElementById('login-btn').disabled = false;
                        this.isAuth();
                    })
                    .catch(error=>{
                        this.loading = false;
                        this.success = null;
                        document.getElementById('login-btn').disabled = false;
                        this.errors = error.response.data.message == undefined ? 'Something went wrong please retry' : error.response.data.message;
                        
                    })
                },
                
                isAuth(){
                    let token = localStorage.getItem('hng_token');
                    let expiration = localStorage.getItem('hng_expiration');

                    if(! token || ! expiration) // check if token exists now or return null
                    {
                        return null;
                    }
                    else
                    {
                        if(Date.now() > parseInt(expiration)) // check if existing token has expired and return null if true or return true if otherwise
                        {
                            this.logout();
                            return null;
                        }
                        else
                        {
                            window.location.href = this.dashboard;
                        }
                    }
                },
                
                logout(){
                    let token = localStorage.getItem('hng_token');
                    axios({
                        method: 'POST',
                        url: this.backend+'api/logout',
                        headers: {'Authorization': 'Bearer '+ token}
                    })
                    .then(response=>{
                        this.authenticated = false;
                        alert('You have successfully logged out!');
                    })
                    .catch(error=>{
                        console.log(error)
                        // ...
                    })
                    localStorage.removeItem('hng_token');
                    localStorage.removeItem('hng_expiration');
                },                                              
                
            },

            created(){
                this.isAuth();
            },

            mounted () {
                
            }
        })
        
        // window.onload(console.log(app.$options.methods.isAuth()));
    </script>
  </body>
  <html>