<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Athena Goal Tracker</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
	<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
	<script src="js/vue.js"></script>
    <script src="js/axios.min.js"></script>

    <style>
        .center{text-align: center;}
        [v-cloak] > * { display:none; }
        [v-cloak]::before { content: "loading..."; }
    </style>
</head>

<body>

    <div class="container-scroller" id="app">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth register-bg-1 theme-one">
                <div class="row w-100 mx-auto">
                    <div class="col-lg-4 mx-auto">
                        <h2 class="text-center mb-4">Athena Goal Tracker</h2>
                        <!-- <h3 class="text-center mb-4">Register</h3> -->
                        <div class="auto-form-wrapper" v-cloak>
                            <h3 class="text-center mb-4">Register</h3>

                            <div v-if="errors !== null && errors !== undefined" class="alert alert-fill-danger" role="alert">
                                <span v-if="typeof errors === 'string'">
                                    <span> {{errors}} <br> </span>
                                </span>
                                <span v-else> 
                                    <li v-for="(err, id) in errors" :key="id"> {{err[0]}} <br> </li>
                                </span>
                            </div>
                            <div v-if="success !== null && success !== undefined" class="center alert alert-fill-success" role="alert" v-if="error !== ''"> {{success}} <br> Redirecting to dashboard... </div>

                            <form @submit.prevent="register" v-else>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" v-model="form.name" required class="form-control" placeholder="Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" v-model="form.username" required class="form-control" placeholder="Username">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="email" v-model="form.email" required class="form-control" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="password" v-model="form.password" required class="form-control" minlength="6" placeholder="Password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="password" v-model="form.password_confirmation" required class="form-control" minlength="6" placeholder="Confirm Password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" id="register-btn" class="btn btn-primary submit-btn btn-block">{{loading ? 'Please wait..' : 'Register'}}</button>
                                </div>
                                <div class="text-block text-center my-3">
                                    <span class="text-small font-weight-semibold">Already have and account ?</span>
                                    <a href="login.html" class="text-black text-small">Login</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
    </div>


    <script>
        const app = new Vue({
            el: '#app',
            data: { 
                // backend: 'http://athena-goal-tracker.elitelovers.org/backend/public/',  
                dashboard: './index.html',
                backend: 'http://127.0.0.1:8003/',
                loading: false,
                success: null,
                errors: null,
                authenticated: false,

                form: { name: '', username: '', email:'', password: '', password_confirmation: '' }
            },

            methods: {
                register(){
                    //VALIDATE FORM
                    
                    //Feedback to user
                    this.loading = true;
                    document.getElementById('register-btn').disabled = true;
                    
                    //SUBMIT FORM
                    axios.post(this.backend+'api/register', this.form)
                    .then(response=>{
                        this.loading = false;
                        this.errors = null;
                        this.success = 'Registeration Successful'
                        localStorage.setItem('hng_token', response.data.data.accessToken)
                        localStorage.setItem('hng_expiration', response.data.data.expires_at)
                        this.authenticated = true;
                        // this.$router.push('/login')
                        document.getElementById('register-btn').disabled = false;
                        window.scrollTo(0,0);
                        window.setTimeout(() => {
                            this.isAuth();
                        }, 1000);
                        
                    })
                    .catch(error=>{
                        this.loading = false;
                        this.success = null;
                        document.getElementById('register-btn').disabled = false;
                        this.errors = error.response.data.errors == undefined ? 'Something went wrong please retry' : error.response.data.errors;
                        window.scrollTo(0,0);
                    })
                },
                

                isAuth(){
                    let token = localStorage.getItem('hng_token');
                    let expiration = localStorage.getItem('hng_expiration');

                    if(! token || ! expiration) // check if token exists now or return null
                    {
                        console.log('token not found')
                        return null;
                    }
                    else
                    {
                        if(Date.now() > parseInt(expiration)) // check if existing token has expired and return null if true or return true if otherwise
                        {
                            console.log('token expired')
                            return null;
                        }
                        else
                        {
                            console.log('redirecting')
                            window.location.href = this.dashboard;
                        }
                    }
                },
            },

            created(){
                this.isAuth();
            },

            mounted () {
                
            }
        })
    </script>
  </body>
  <html>