body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
}
.page-title{
    position: absolute;
    margin-left: 250px;
    margin-top: 20px;
    z-index: 2;   
}
.page-title>p{
    position: relative;
    font-size: 2rem;
    padding: 10px;
    background-color: rgb(235, 154, 4);
    color:white;
    font-weight: 500;
    border: solid 5px #a6aca0;
}
/*
 ***FORM SECTION*** 
 */
.form-section{
    color: white;
    background-color: #6ab21c;
    padding-left: 120px;
    padding-right: 30px;
    padding-top: 100px;
    font-weight: 400;
}
#msg{
    height: 200px;
}
#name~p{
    display: none;
}
#email~p{
    display: none;
}
#msg+p{
    display: none;
}
/*
 ***ADDRESS SECTION*** 
 */
 p#corporate{
    font-weight: bold;
    color: #6ab21c;
    font-size: 1.3rem;
 }
 .logo-group{
    margin-left: 2rem;
 }
span.linkedin{
    font-size: 1.5rem;
    color: #0e76a8;
}
span.github{
    font-size: 1.5rem;
}
span.twitter{
    font-size: 1.5rem;
    color: #1da1f2;
}
li span.fa-li{
    padding-right: 3rem;
}
.col-md-7{
    margin: 0 auto;
}
/*iphone*/
@media screen and (max-width: 768px){
    .form-section{
        padding-left: 20px;
        padding-top: 30px;
        margin-top: 30px;
        margin-left: 0px;
    }
    .page-title{
        position: relative;
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
        z-index: 2;
        height: 100px;  
    }
    .row{
        margin-top: 10px !important;
    }
    .col-md-5{
        margin: 0 auto;
    }